<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="org.rahulshettyacademy.TestUtils.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="EcommerseTest">
    <classes>
      <class name="org.rahulshettyacademy.Ecommerce_tc_4_Hybrid"/>
    </classes>
  </test>
  
  <test thread-count="5" name="ErrorvalidationTest">
    <classes>
     <class name="org.rahulshettyacademy.Ecommerce_tc_1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
 